Source: cosmic-session
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  cargo,
  just
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/cosmic-session

Package: cosmic-session
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  cosmic-app-library,
  cosmic-applets,
  cosmic-bg,
  cosmic-comp,
  cosmic-greeter,
  cosmic-icons,
  cosmic-launcher,
  cosmic-notifications,
  cosmic-osd,
  cosmic-panel,
  cosmic-randr,
  cosmic-screenshot,
  cosmic-settings,
  cosmic-settings-daemon,
  cosmic-workspaces,
  pop-fonts,
  xdg-desktop-portal-cosmic,
Recommends:
  cosmic-edit,
  cosmic-files,
  cosmic-store,
  cosmic-term,
Description: The session for the COSMIC desktop
