[Unit]
Description=Cosmic Session Target
Documentation=man:systemd.special(7)

BindsTo=graphical-session.target
Before=graphical-session.target

Wants=graphical-session-pre.target
After=graphical-session-pre.target

Wants=xdg-desktop-autostart.target
Before=xdg-desktop-autostart.target
